/*Main css style */
html {
    font-family:"Avenir Next","Helvetica Neue","Helvetica","sans-serif";
    font-size:15px;
    box-sizing: border-box;
}

body{
    background-color:#ededed;
}

.selected{
    border-bottom: 2px solid #1232ba;
}

/********************** TOP NAVIGATION BAR **************************/

.navbar {
    background-color: rgba(5, 10, 5, 0.9);
    box-sizing: content-box;
    padding: 0;
    border-bottom: 2px solid #e3249a;
    height: 50px;
}

a.navbar-brand {
    font-size: 1.5em;
    color: #fff;
    text-decoration: none;
    margin-left: 3%;
}
button.navbar-toggler{
    margin-right: 1.5%;
}
button.navbar-toggler:hover{
    padding: 10px;
    background-color: rgba(0,0,0,0.2);
}

a.navbar-brand:hover{
    color: #ccc;
}


.navbar-nav li a{
    text-decoration:none;
    font-size:16px;
    color:#dcdcdc;
}

.hide{
    display:none;
}

input.error {
    border:2px solid rgba(153, 4, 4, 0.623);
    border-radius:3px;
}

th{
    font-size: 0.85em;
}

.item-title{
    font-size: 1.25em;
}
td{
    font-size: 0.8em;
}

.post-container{
    border: 1px solid #a2a2a2;
    background-color: #fcfcfc;
    padding: 15px;
    margin: 0%;
}
.navbar-nav li{
    padding: 0;
    margin-left: 10px;
}

.navbar-nav li a:hover{
    background-color: rgba(0, 10, 0, 0.3);
}

.preformatted{
    list-style-type: none;
    padding: 8px;
    font-size: 14px;
    background-color: #fdfdfd;
    color: #333333;
    border-bottom: 1px solid #dedede;
}

li.preformatted:hover{
    background-color: #f5f5f5;
}
.card.round-top{
    border-radius: 5px 5px 0 0;
    border: 1px solid #ccc;
}

.form-inline select{
    background-color: transparent;
    color: #666;
    border:1px solid rgba(177,170, 170, 0.5);
    border-radius: 5px;
    height: 32px;
    color: #f1f1f1;
    transition: 0.5s ease-in;
}
.card.round-top > .card-title{
    padding-bottom: 8px;
    border-bottom: 2px dashed #666;
}

@media (min-width:1421px){
    .navbar-nav{
        margin-left:34%;
    }
}

@media (min-width:1381px) and (max-width:1420px){
    .navbar-nav{
        margin-left:31%;
    }
}

@media (min-width:1351px) and (max-width:1380px){
    .navbar-nav{
        margin-left:29%;
    }
}

@media (min-width:1321px) and (max-width:1355px){
    .navbar-nav{
        margin-left:27%;
    }
}

@media (min-width:1290px) and (max-width:1320px){
    .navbar-nav{
        margin-left:25%;
    }
}

@media (min-width:1269px) and (max-width:1289px){
    .navbar-nav{
        margin-left:24%;
    }
}

@media (min-width:1250px) and (max-width:1268px){
    .navbar-nav{
        margin-left:23%;
    }
}

@media (min-width:1230px) and (max-width:1249px){
    .navbar-nav{
        margin-left:19%;
    }
}

@media (min-width:1220px) and (max-width:1229px){
    .navbar-nav{
        margin-left:17%;
    }
}

@media (min-width:1200px) and (max-width:1219px){
    .navbar-nav{
        margin-left:17%;
    }
}

@media (min-width:1180px) and (max-width:1199px){
    .navbar-nav{
        margin-left:15%;
    }
}

@media (min-width:1160px) and (max-width:1179px){
    .navbar-nav{
        margin-left:13%;
    }
}

@media (min-width:1140px) and (max-width:1159px){
    .navbar-nav{
        margin-left:12%;
    }
}

@media (min-width:1130px) and (max-width:1139px){
    .navbar-nav{
        margin-left:10%;
    }
}

@media (min-width:1100px) and (max-width:1129px){
    .navbar-nav{
        margin-left:9%;
    }
}

@media (min-width:1050px) and (max-width:1099px){
    .navbar-nav{
        margin-left:5%;
    }
}

@media (min-width:1040px) and (max-width:1049px){
    .navbar-nav{
        margin-left:3%;
    }
}

@media (min-width:1008px) and (max-width:1039px){
    .navbar-nav{
        margin-left:1%;
    }
}

@media (min-width:1002px) and (max-width:1007px){
    .navbar-nav{
        margin-left:0.2%;
    }
}

@media (min-width:992px) and (max-width:1001px){
    .navbar-nav{
        margin-left:-1em;
    }
}

@media (max-width:991px){
    .navbar-nav{
        margin-left:0;
    }

    .hide-md{
        display:none;
    }
}

@media (max-width:320px){

    .hide-sm{
        display:none;
    }

    .text-lg{
        font-size: 1.5em;
        font-weight: bold;
    }

    h1{
        font-size: 1.4em;
        font-weight: bold;
    }

    h2{
        font-size: 1.35em;
        font-weight: bold;
    }

    h3{
        font-size: 1.30em;
        font-weight: bold;
    }

    h4{
        font-size: 1.25em;
        font-weight: bold;
    }

    h5{
        font-size: 1.20em;
        font-weight: bold;
    }

    h6{
        font-size: 1.15em;
        font-weight: bold;
    }
}
.home-header{
    margin-top:15%;
}

.to-top{
    position: fixed;
    bottom: 5px;
    right: 15px;
}
.btn-red{
    color: #f1f1f1;
    background-color: #ff3300;
}

.inactive{
    color:#aaa;
    background-color:#ccc;
}

.circle-trans{
    background-color: rgba(90, 90, 90, 0.062);
    color: #fff;
}

.btn-danger-alt{
    color: #fff;
    background-color: #d30b25;
    border: 2px solid #d30b25;
    padding: 5px;
    border-radius: 3px;
    float: right;
}

.btn-danger-alt:hover{
    color: #d30b25;
    background-color: #fff;
    border: 2px solid #d30b25;
}
.search-container{
    background-color: rgba(177, 170, 170, 0.301);
    height:38px;
    width: 23em;
    border-radius:2px;
}


.nav-form-input {
    background-color: rgba(0, 5, 0, 0.5);
    border:1px solid rgba(177,170, 170, 0.5);
    border-radius: 5px;
    height:38px;
    line-height: 38px;
    color: #fcfcfc;
    padding-left:8px;
    transition: 0.5s ease-in;
    width:19em;
}

.nav-form-input:focus {
    background-color: rgba(0, 10, 0, 0.5);
    width: 30em;
    transition: 0.5s ease;
    border:2px solid rgba(177,170, 170, 0.5);
}

.container.homepage{
    background-image: url("../images/books-2.jpg");
    background-size: contain;
}
.top-search-btn {
    background-color: #0909a1;
    color:#fcfcfc;
    width:3.7em;
    height:38px;
    border:0;
    border-radius:0px 2px 2px 0px;
    box-sizing: border-box;
    cursor: pointer;

}

.navbar-nav .dropdown-menu li > a{
    color:#000;
}

.navbar-nav .dropdown-menu li > a:hover{
    background-color:#f6f6f6;
}

@media (max-width:380px){
  .content{
    margin: 2% 0.1%;
    }

    .search-container{
        width:100%;
        border-radius:2px;
        margin-top:0.5em;
        margin-bottom: 0.2em;
    }


    .nav-form-input {
        width:80%;
    }

    .top-search-btn {
        width:18%;
        cursor: pointer;

    }
}

@media (max-width:320px){

    .navbar-nav{
        padding-top: 25px;
    }

    .search-container{
        width:100%;
        border-radius:2px;
        margin-top:0.5em;
        margin-bottom: 0.2em;
    }


    .nav-form-input {
        width:80%;
    }

    .top-search-btn {
        width:18%;
        cursor: pointer;

    }

}


.content-separator {
    margin:3.2em 0;
}

.circle-trans {
    border-radius:50%;
    background-color: rgba(050,050,050,0.5);
    padding:8px;
}

.list{
    padding:10px 8px 10px 5px;
    margin-bottom:12px;
    background-color:#f1f1f1;
    border-bottom: 1px solid #cfcfcf;
}

.list > a:hover{
    background-color:#ececec;
}

.next-post{
    position:absolute;
    right:0;
}

.prev-post{
    position:absolute;
    left:0;
}
.circle{
    border-radius:50%;
    background-color:rgba(150, 150, 150, 0.4);
    padding:8px;
}

.content{
    margin: 2% 1.5%;
}

p > img{
    max-width:100%;
}

.btn-learn{
    background-color:rgba(146, 7, 60, 0.897);
    box-shadow: 1px 2px 2px 3px rgba(100,100,100,0.1);
    max-width:100%;
    z-index:80;
    color: #f1f1f1;
    padding:1em;
    margin: 2em 0;
    justify-content: center;
}

.btn-learn:hover{
    background-color: #fbfbfb;
    transition:all 0.5s;
}
.alert-success-top {
    width: 100%;
    height: 100%;
    background-color: #06681E;
    position: relative;
    color:#ffffff;
    box-shadow: -3px 0px 32px -2px #183F28;
}

.alert-success-top:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 29px;
    top: -15px;
    left: 7px;
    z-index: 0;
    background-color: #06681E;
    box-shadow: 5px -5px 38px -41px #183F28;
    transform: rotate(-44deg);
    -webkit-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
}

.alert-success-top:after {
    content: "";
    position: absolute;
    width: 300px;
    height: 100px;
    top: -241px;
    left: 436px;
    z-index: -1;
    background-color: #183F28;
}

.post-tag{
    border-radius:2px;
    background-color: rgba(240, 240, 240, 0.9);
    padding: 5px;
    margin: 0 5px 2px;
    color: #999999;
}

.tag{
    margin-right: 0.5em;
    padding: 5px;
    color: #e3249a;
}

.btn-more{
    color:#fff;
    background-color: #f33756;
    justify-content: center;
    display: flex;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 5px;
    border: 0;
}
.btn:hover{
    color: #f33756;
    background-color: #f1f1f1;
}
.post-category,.post-author{
    color: #999999;
}
.post-meta{
    display: inline;
    font-size: 14px;
    color: #999999;
}
.wrap-in{
    border-radius: 2px;
    border: 1px solid rgb(207, 202, 202);
    border-right: 0;
    padding: 8px;
}

.wrap-in .btn-wrap{
    background-color: #dee2e4;
    color: #ff0022;
    padding: 12px 20px;
    font-size: 1em;
    border-radius: 2px 0 0 2px;
    margin:0 40px 0 -8px;
    width: 2em;
}
.alert-danger-top {
    width: 100%;
    height: 100%;
    background-color: rgba(232, 0, 3, 0.80);
    position: relative;
    box-shadow: -3px 0px 32px -2px rgba(232, 0, 3, 0.60);
    color:#fff;
}

.alert-danger-top:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 29px;
    top: -15px;
    left: 7px;
    z-index: 0;
    background-color: rgba(232, 0, 3, 0.60);
    box-shadow: 5px -5px 38px -41px rgba(232, 0, 3, 0.60);
    transform: rotate(-44deg);
    -webkit-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
}

.alert-danger-top:after {
    content: "";
    position: absolute;
    width: 300px;
    height: 80px;
    top: -241px;
    left: 436px;
    z-index: -1;
    background-color: rgba(232, 0, 3, 0.60);
}

.alert-info-top {
    width: 464px;
    height: 70px;
    background-color: #2ABCE0;
    position: relative;
    box-shadow: 0px -5px 50px -7px #83BCC6, inset 0px -81px 33px -100px #39A0BF;
}

.alert-info-top:before {
    content: "";
    position: absolute;
    width: 30px;
    height: 29px;
    top: -15px;
    left: 7px;
    z-index: 0;
    background-color: #2ABCE0;
    box-shadow: 5px -5px 38px -41px #63C9E2;
    transform: rotate(-44deg);
    -webkit-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
}

.alert-info-top:after {
    content: "";
    position: absolute;
    width: 300px;
    height: 100px;
    top: -241px;
    left: 436px;
    z-index: -1;
    background-color: #FFFFFF;
}
.books {
    background-image: url('../images/preview.jpg');
    background-size: contain;
    transition:all .5s ease-in;
    }

.books:hover{
    background: linear-gradient(45deg, green 85%, orange 15%);
    transform: scale(1.1,1.1);
    transition:all .5s;
}
.events{
    background-image:  url('../images/b.jpg');
    background-size: contain;
    transition:all .5s ease-in;
}
.events:hover{
    background: linear-gradient(45deg, green 85%, orange 15%);
    transform: scale(1.1,1.1);
    transition:all .5s ease-out;
}

.tutorials{
    background-image:  url('../images/c.jpg');
    background-size: contain;
    transition:all .5s ease-in;
}

.tutorials:hover{
    background: linear-gradient(45deg, green 85%, orange 15%);
    transform: scale(1.1,1.1);
    transition:all .5s;
}

.more{
    background-image:  url('../images/conference-call.jpg');
    background-size: contain;
    transition:all .5s ease-in;
}

.more:hover{
    background: linear-gradient(45deg, green 85%, orange 15%);
    transform: scale(1.1,1.1);
    transition:all .5s;
}

.btn-translucent{
    background-color: rgba(0,0,0,0.45);
    margin: 0 33.3333% 0 33.3333%;
    color:#fff;
}

.btn-card{
    background-color:#fff;
    box-shadow: 1px 2px 2px 3px rgba(100,100,100,0.1);
    max-width:100%;
    z-index:90;
    padding:1em;
    margin: 2em 0 2em 0;
}
.m-neg-15{
    margin-top: -15em;
}

.bg-raised{
    background-color: rgba(240, 240, 240, 0.418);
    box-shadow: 1px 1px 1px rgba(200,200,200, 0.25);
    z-index: 200;
    padding: 5px;
}

.btn-info-alt{
    position: absolute;
    background-color: #0069d9;
    color: #fff;
    border: 2px solid #0069d9;
    right: 25px;
}
.btn-info-alt:hover{
    background-color: #fff;
    color: #0069d9;
    transition: all .5s ease-out;
}
.icon-raised{
    background-color:rgba(240, 234, 234, 0.973);
    box-shadow: 1px 3px 3px 3px rgba(255, 255, 255, 0.1);
    z-index:150;
    color: #0713ff;
    box-sizing: border-box;
    padding:0.5em;
    border-radius: 50%;
}

.carousel {
    position :relative;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    background-blend-mode: darken;
    filter: brightness(1);
    background-color: rgba(0, 0, 0, 0.603);
    margin-bottom: 1.5em;
    height: 70%;
}

.after-main-container{
    position: absolute;
    top: 10%;
    left: 15%;
    color: #f1f1f1;
    right: 15%;
}

.main{
    position: absolute;
    top: 90%;
}

.main-footer{
    position: absolute!important;
    top: 110%!important;
    left: 0;
    right: 0;
}

.text-center{
    text-align: center!important;
}
.home-header{
    font-size: 2.2em;
    font-weight: 300;
    text-transform: uppercase;
    color: #cfcfcf;
}

.home-p{
    font-size: 1.1em;
    font-weight: 200;
    margin-top: 1rem; 
}

.btn-cool{
    background-color: rgba(0, 10, 0, 0.8);
    color: #dedede;
}

.q-search{
    width: 85%;
}

@media (max-width: 728px){
    #q-s{
        display: none;
    }
}

@media (max-width: 768px){
    .q-search{
        width: 75%;
    }
}
@media (min-width: 992px) and (max-width: 1064px){
    .q-search{
        width: 70%;
    }
}

@media (min-width: 770px) and (max-width: 800px){
    .q-search{
        width: 80%;
    }
}

.btn-cool:hover{
    color: rgba(0, 10, 0, 0.8);
    background-color: #dedede;
}

.card-title{
    font-size: 1.1rem;
}

input.q-search:focus{
    transition: 0.05s ease;
    border: 2px solid rgba(0, 10, 0, 0.5);
}

#image-header{
    font-weight: bold;
    color: navy;
    background-image: url("../images/business.jpg");   
}

.with-select{
    margin-top: 4px;
    width: 100px;
    background-repeat: no-repeat;
    color: #fff;
    background-color: transparent;
}

.overflowed{
    width: 120px;
    -webkit-appearance: none; 
    -moz-appearance: none;
    appearance: none;
    background-image: url("../images/arrow-down.png");
    background-repeat: no-repeat;
    background-position: right;
    color: #fff;
}

.text-dark-grey{
    color: #666;
}
.card-sm{
    background-color:#fff;
    box-shadow: inset 2px 2px rgba(100,100,100,0.1);
    max-width:100%;
    z-index:100;
    padding:1em;
    margin: 2em 0 2em 0;
}
label {
    font-size:1em;
    font-weight: normal;
}
/********************* TEXT-FORMATTING *********************************/

.text-xxs{

    font-size: 0.625em;
}

.text-xs{

    font-size:0.75em;
}

.text-sm {
    font-size: 0.875em;
}

.text-md {
    font-size: 1em;
}

.input-text-search > .btn{
    display: inline;
}

.input-text-search{
    border: none;
    border-radius: 5px 0 0 5px;
    line-height: 1.2355;
    padding-left: 15px;
    height: 38px;
    min-width: 45%;
    color: #000;
}

.text-lg-0 {

    font-size: 1.125em;
}

.text-lg-1 {

    font-size: 1.25em;
}


.text-lg-2 {

    font-size: 1.375em;
}


.text-lg-3 {

    font-size: 1.5em;
}


.text-lg-4 {

    font-size: 1.625em;
}

.text-lg-5 {

    font-size: 1.75em;
}

.text-lg {
    font-size: 1.825em;
}

.text-2em {

    font-size: 2em;
}

.text-3em {

    font-size: 3em;
}

.text-4em {

    font-size: 4em;
}

.text-5em {

    font-size: 5em;
}

.text-white {
    color:#fff;
}

.text-grey, .text-gray {
    color:#cdcdcd;
}

.text-green{
    color:#23cd83;
}
.text-red {
    color: #bc0909;
}

.text-orange {
    color: #ff6622;
}

.text-yellow {
    color: #ddbb99;
}

.text-brown {
    color: #ff3300;
}

.text-blue {
    color: #0000ff;
}

.text-light-blue {
    color: #1111dd;
}

.text-deep-blue {
    color: #2323ba;
}

.text-royal-blue{
    color: royalblue
}

.text-nay{
    color: navy;
}

.content-container{
    margin: 15px;
}

.col-one-half.sidebar-left-fixed{
    top:0;
    height:100%;
    width:8%;
    position:static;
    margin-right: 2em;
    background-color:#111;
    padding:12px;
    position:fixed;
    z-index:150;
    left:0;
}

.stack{
    position: relative;
    top: 0%;
    left: 0;
}
.stack-1{
    position: relative;
    left: -5px;
    top: 5px; 
}

.stack-right-5{
    position: relative;
    right:-10px;
    top: 10px;
}

.stack-right-10{
    position: relative;
    right: -10px;
    top: 10px;
}

.stack-left-5{
    position: relative;
    left: -5%;
}

.stack-left-10{
    position: relative;
    left: -10%;
}


.side-header{
    font-size: 1.0em;
    padding: 8px;
    background-color: #fff;
}

.row.event_d .mam{
    position: relative;
}

.ml-25{
    margin-left: 25%;
}

.ml-20{
    margin-left: 20%;
}

.ml-45{
    position: absolute;
    right: 4%;
}

.ml-35{
    position: absolute;
    right: 5%;
}

.overflow{
    margin: 30% -65%;
    z-index: 1200;
    position: absolute;
    color: #fff;
    font-weight: bold;
}

.wrapper{
    margin: 0;
    padding: 0;
}


.fixed{
    position: fixed;
    top: 54px;
    z-index: 1000;
}
.img-round.card-img-top{
    height: 230px;
}

.border-right{
    border-right: 1px solid #aaa;
}

.border-left{
    border-left: 1px solid #aaa;
}

.border-bottom{
    border-bottom: 1px solid #aaa;
}

.border-top{
    border-top: 1px solid #aaa;
}

label{
    font-weight: bold;
}

.inline{
    display: inline;
}

.b-down{
    border: 0;
    width: 100%;
    border-bottom: 2px solid grey;
}

.b-down:focus{
    border-bottom: 2px solid green;
}

#loader{
    position: absolute;
    bottom: 10;
    width: 65%;
    right: 10;
    z-index: 1000;
}

.carousel-img{
    background-color: rgba(0, 0, 0, 0.4);
    filter: blur(1px);
    height: 20rem;
}

.col-one-half.sidebar-right-fixed{
    top:0;
    height:100%;
    width:8%;
    position:static;
    margin-left: 2em;
    background-color:#111;
    padding:12px;
    position:fixed;
    z-index:150;
    right:0;
}

.img-fluid.profile{
    height: 250px;
    width: 100%;
}
.dash-main{
    margin-top: 5em!important;
}
.dash-sidebar-list{
    margin-top:4.5em;
}

.icon-blue-square{
    color:#fff;
    padding:10px;
    font-size:1.1em;
}

.pointer-left::after{
    content: "";
	position: absolute;
	width: 32px;
	height: 29px;
	bottom: 22%;
	right: -26px;
	z-index: -1;
	background-color: #FFFFFF;
	transform: rotate(-46deg);
	-webkit-transform: rotate(-46deg);
	-ms-transform: rotate(-46deg);
}

.close{
    margin-top: 5px;
    margin-right: 5px;
    padding: 0px;
    font-size: 14px;
    border-radius: 2px;
    background-color: rgba(207, 95, 95, 0.1);
}
.card{
    border:0;
    border-radius: 0;
}

.nav-item:hover{
    background-color: rgba(48, 46, 46, 0.301);
}
.btn.add-to-cart{
    background-color: #e3249a;
    position: absolute;
    bottom: 5.5%;
    right: 2.2em;
    color: #f1f1f1;
    padding: 3px;
    border:2px solid #e3249a;
    box-sizing: border-box;
    font-size: 0.850em;
    font-family: Helvetica, Arial, sans-serif;
}

.btn.add-to-cart:hover{
    background-color: #ffffff;
    color: #8224e3;
    border: 2px solid #8224e3;
    transition: all 0.4s ease-in;
}
.pointer-right:after{
    content: "";
	position: absolute;
	width: 32px;
	height: 30px;
	top: 30%;
	left: -28px;
	z-index: -1;
	background-color: #FFFFFF;
	transform: rotate(-46deg);
	-webkit-transform: rotate(-46deg);
	-ms-transform: rotate(-46deg);

}

.file-upload input{
    border:none;
    opacity: 0;
    visibility: hidden;
}
.file-upload{
    background-color: rgb(3, 77, 22);
    padding: 5px;
    border: 0;
    border-radius: 3px;
}
.dash-icon{
    color:#1923ca;
    margin:0.2em 1em 0.2em 1em;
    padding:6px;
    background-color:#fff;
    font-size:1em;
    border-radius:5%;
}

.col-right{
    margin:3em;
    margin-left:16%!important;
}

.card.col-right{
    padding:15px;
}

.dash-card p{
    margin:2em;
    color:#fff;
}
/************************** CARDS ********************************/

.dash-card, .dash-card p {
    box-shadow: 0px 0px 0px 0px rgba(200,200,200, 0.15);
    z-index: 100;
    color:#fff;
    background-color:#192190;
    border-radius:2px;
}

.card-0 {
    box-shadow: 0px 0px 0px 0px rgba(200,200,200, 0.15);
    z-index: 100;
}

.card-1 {
    box-shadow: 1px 1px 1px 1px rgba(200,200,200, 0.17);
}

.card-2 {
    box-shadow: 2px 2px 2px 2px rgba(200,200,200, 0.25);
}

.card-2:hover {
    box-shadow: 2px 5px 5px 6px rgba(090,090,090, 0.25);
}

.card-hover {
    border-radius: 5px;
}

.card-hover:hover {
    background-color: rgba(200, 200, 200, 0.2);
}

.card-3 {
    box-shadow: 2px 1px 1px 3px rgba(100,100,100, 0.35);
}

.card-3:hover {
    box-shadow: 1px 3px 3px 4px rgba(090,090,090, 0.25);
}

.navbar-right{
    margin-left: 15%;
}

.navbar-right a{
    color: #cdcdcd;
    font-size: 1.42em;
}
.card-4 {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.card-5 {
    box-shadow: 2px 2px rgba(200,200,200, 0.25);
}

.card-5:hover {
    box-shadow: 3px 5px 5px 6px rgba(090,090,090, 0.25);
}


.card-0, .card-1, .card-2,
.card-3, .card-4, .card-5 {
    background-color: #fff;
    border-radius:3px;
    padding: 10px;
}


.card-img{
    max-width:100%;
}

@media (max-width:576px){
    .card-img{
    max-width:100%;
    }
    service-img{
        min-height: 33%;
    }
}

.service-img{
    min-height: 13em;
}

.card-round {
    border-radius:15px;
    background-color:#fff;
}


/************************** MISC CONTENT ************************/

.badge{
    color: #23dc90;
}

.img-square{
    border-radius: 2px;
    width: 30px;
    height: 32px;
}

.img-circle{
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
.img-round{
    max-width: 100%;
    border-radius:4px;
}

@media (max-width:320px){

    .img-round.event-img{
        max-height: 220px;
    }

    .text-adjust{
        font-size: 90%;
    }
}

@media (min-width:768px) and (max-width: 992px){

    .img-round.event-img{
        max-height: 300px;
    }
}

.line-thru{
    text-decoration:line-through;
}
.input-text {
    width:100%;
    border-radius:3px;
    height:2.5em;
    border:1px solid #ccc;
    margin-bottom: 15px;
    padding-left:8px;
}

.default{
    background-color: #f1f1f1;
    border: 1px solid #ccc;;
    border-radius: 3px;
    padding: 5px;
    cursor: pointer;
}

.inline{
    display: inline;
    border: none;
    height:35px;
    line-height: 35px;
    padding: 5px 10px;
    background-color: #fff;
}

input[type='search'].inline{
    width: 82%;
}

select.inline{
    min-width: 95px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("../images/arrow-down-alt.png");
    background-repeat: no-repeat;
    background-position: right;
}
.search-container{
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
}

.input-text:focus {
    border:1px solid #0069d9;;
}

a {
    color: #333;
    font-size:16px;
}

a:hover{
    color:#ff8844;
    text-decoration:none;
}

.hover-light-grey:hover{
    background-color:#efefef;
}

/************************ FOOTER **********************/

.footer{
    background-color:#111;
    padding: 2em;
}

.footer-list li, .footer-list li a {
    list-style-type: none;
    color:#aaa;
    font-size: 0.95em;
}

.footer h5{
    font-size: 1.2em;
    text-align: left;
}
.footer-list li a:hover{
    color:#ff8844;
}

.footer-1 li, footer-1 li a {
    list-style-type: none;
    display: inline-block;
    color:#aaa;
    font-size: 1em;
}
.footer-1 {
    background-color: #000;
    padding:2em;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
    width: 40%;
    box-shadow: rgb(207, 202, 202, 0.5);
}


/* The "Forgot password" text */
span.psw {
    float: right;
    padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }
    .cancelbtn {
        width: 100%;
    }
}
